*{
        box-sizing: border-box;
        margin:1px;
        padding: 0;
    }
        .container{
            background-color: #FFF7F0;
            width:100%;
            padding: 1vw;
            margin:0%;
        }
        .buttons{
            display:flex;
            margin-top:5vw;
            margin-left: 1vw;
            margin-right: 1vw;
            justify-content: space-between;
            align-items: center;
        }
        .Introduction{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-top:5vh;
        }
        header{
            font-weight: bold;
            font-size:1.5rem;
            font-family: sans-serif;
            text-align: center;
        }
        .description{
            display:flex;
            width:50vw;
            font-size: 10px;
            color: gray;
        }
        .skills{
            display:grid;
            grid-template-columns:auto auto auto auto auto auto;
            grid-template-rows:repeat(2,5rem);
            width:80%;
            height:40%;
            margin:10%;
        }
        .graphic{
            grid-row:1/3;
            grid-column:1/3;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
        }
        .uiux{
            grid-row:1;
            grid-column:3;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
        }
        .apps{
            grid-row:1;
            grid-column:4;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
        }
        .photography{
            grid-row:1;
            grid-column:5/7;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
        }
        .illustrations{
            grid-row:2;
            grid-column:3/5;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
        }
        .motionGraphics{
            grid-row:2;
            grid-column:5/7;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: space-between;
        }
        .portfolio{
            display:grid;
            grid-template-rows:auto auto auto;
            grid-template-columns:auto auto auto;
            width:80%;
            height:40%;
            margin:10%;
            padding:1px;
        }
        .picture{
            grid-row:1/4;
            grid-column:1/3;
            background-color:#61C4B7;
            width:80%;
            height:100%;
            border-radius: 100%;
            display:flex;
            justify-content: center;
        }
        .picture-introduction{
            grid-row:1;
            grid-column:3;
        }
        .picture-description{
            grid-row:2;
            grid-column:3;
        }
        .picture-button{
            grid-row:3;
            grid-column:3;
        }
        .work{
            display:grid;
            grid-template-columns:auto auto auto;
            width:100%;
            padding:1px;
        }
        .book-a-call{
            background-color: black;
            width:80%;
            height:40%;
            margin:10%;
            padding:1px;
            display:grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
        }
        .call-head{
            grid-row:1;
            grid-column:1;
        }
        .call-description{
            grid-row:2;
            grid-column:1;
        }
        .call-button{
            grid-row:1/3;
            grid-column:2;
            display:flex;
            justify-content: center;
            align-self: center;
        }
        p{
            position:relative;
            font-size:0.7rem;
            color:white;
            font-family: sans-serif;
            font-weight: bold;
        }
        svg{
            display:flex;
            align-self: flex-end;
        }
        img{
            width:100%;
            height:100%;
        }
        button{
            font-size:0.7rem;
            padding:3px;
            border-radius:5px;
            background-color: #F6A560;
            color:#FFF7F0;
            border:none;
        }
        @media screen and (width>=320px) and (width <=500px){
            header{
                font-size: 1.2rem;
            }
            .skills{
                grid-template-rows: repeat(3,3rem);
                grid-template-columns: repeat(4,auto);
            }
            .graphic{
                grid-row:1/3;
                grid-column:1/3;
            }
            .photography{
                grid-row:3;
                grid-column:1/3;
            }
            .uiux{
                grid-row: 1;
                grid-column: 3;
            }
            .apps{
                grid-row: 1;
                grid-column:4;
            }
            .illustrations{
                grid-row:2;
                grid-column: 3/5;
            }
            .motionGraphics{
                grid-row:3;
                grid-column:3/5
            }
            .work{
                grid-template-columns:repeat(4,auto);
            }
            .work1{
                grid-column:1;
            }
            .work2{
                grid-column:2/4;
            }
            .work3{
                grid-column:4;
            }
            .img1{
                width:100%;
                height:100%;
                font-size: 100%;;
                object-fit: cover;
            }
            .img3{
                width:100%;
                height:100%;
                font-size: 100%;;
                object-fit: cover;
                object-position: 0%;
            }
            button{
                font-size: 0.4rem;
            }
            .book-a-call{
                grid-template-rows: repeat(3,auto);
                grid-template-columns: auto;
            }
            .call-head{
                grid-row: 1;
                grid-column: 1;
                text-align: center;
            }
            .call-description{
                grid-row: 2;
                grid-column: 1;
                text-align: center;
            }
            .call-button{
                grid-row: 4;
                grid-column: 1;
            } 
        }
        @media screen and (width <320px){
            header{
                font-size: 1rem;
            }
            .skills{
                grid-template-rows: repeat(6,3rem);
                grid-template-columns: repeat(2,auto);
            }
            .graphic{
                grid-row:1/3;
                grid-column:1/3;
            }
            .photography{
                grid-row:5;
                grid-column:1/3;
            }
            .uiux{
                grid-row: 3;
                grid-column: 1;
            }
            .apps{
                grid-row:3;
                grid-column:2;
            }
            .illustrations{
                grid-row:4;
                grid-column: 1/3;
            }
            .motionGraphics{
                grid-row:6;
                grid-column:1/3;
            }
            .work{
                grid-template-columns:repeat(4,auto);
            }
            .work1{
                grid-column:1;
            }
            .work2{
                grid-column:2/4;
            }
            .work3{
                grid-column:4;
            }
            .img1{
                width:100%;
                height:100%;
                font-size: 100%;;
                object-fit: cover;
            }
            .img3{
                width:100%;
                height:100%;
                font-size: 100%;;
                object-fit: cover;
                object-position: 0%;
            }
            button{
                font-size: 0.4rem;
            }
            .book-a-call{
                grid-template-rows: repeat(3,auto);
                grid-template-columns: auto;
            }
            .call-head{
                grid-row: 1;
                grid-column: 1;
                text-align: center;
            }
            .call-description{
                grid-row: 2;
                grid-column: 1;
                text-align: center;
            }
            .call-button{
                grid-row: 4;
                grid-column: 1;
            } 
        }